body {
    background: #3A0CA3;
    size: 350px;
    display:block;
    position: relative;
    width: 100%;
    height: 100%;
}


.nav-bar {
    background-color: none;
    margin: 0px;
    padding:2x;
}

.nav-headings {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 1em;

}

.nav-headings #home, #mystory, #projects, #contact {
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    text-transform: lowercase;
    color: #fff;
}



.landing-name {
    display:block;
    position: relative;
}




.landing-name #firstname {
    font-family: Arial, Helvetica, sans-serif;
    color: #F72585;
    font-size: 21vw;
    text-transform: uppercase;
    letter-spacing: -0.15em;
    text-align: left;
    font-weight: bold;
    position: relative;
    margin-top: 0.3em;
    margin-left: -0.03em;




}

 .landing-name #lastname {

    font-family: Arial, Helvetica, sans-serif;
    color: #F72585;
    font-size: 22vw;
    text-transform: uppercase;
    letter-spacing: -0.18em;
    text-align: right;
    font-weight: bold;
    position: relative;
    margin-top: -1.1em;
    margin-left: 0.9em;
    margin-right: 10em;



}